:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}
.sideBar,
.wrapperMain {
  width: 300px;
}

header {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
