.formAddTranscation {
  padding: 3px 0;
}
.wrapperInputGroup input {
  width: 100%;
  outline: none;
  border: 1px solid #b3b2ae;
  background-color: white;
  color: black;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  padding: 5px 3px;
  margin: 5px 0;
}
.title {
  font-weight: 600;
  margin: 5px 0 0 0;
}
.heading {
  margin: 5px 0 3px 0;
  font-weight: 600;
}
.wrapperInputGroup input:focus {
  box-shadow: 0 2px 5px #b3b2ae;
}
.btnAddTranscation {
  margin: 5px 0;
  width: 100%;
  padding: 5px 0;
  background-color: #6b5cb6;
  color: white;
  border: none;
  box-shadow: 0 1px 5px 0 #6b5cb6;
}
.btnAddTranscation:active {
  background-color: white;
  color: #6b5cb6;
}
